@layout('templates.template')
@section('conteudo')

<div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Edit Profile</h4>
                </div>
                <div class="card-body">
                
                </div>
              </div>
            </div>
          </div>
        </div>
@endsection