 <div class="container-fluid" style="display: flex; justify-content: center;">
    <div class="copyright float-right">
    &copy;
    <script> document.write(new Date().getFullYear())</script> 
    by <a href="" target="_blank">Anonimo</a> dev web.
    </div>
</div>